* {
  box-sizing: border-box;
  margin: 0px;
  overflow: hidden;
}
  
body {
  width: 420px;
  height: 300px;
}

.nav-container  {
  display: flex;
  height: 50px;
  justify-content: space-between;
}

.nav-container button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  margin: 0px;
  opacity: 0.6;
  outline: none;
  padding: 17px 34px;
}

.nav-container button:hover {
  opacity: 1;
}
  
button.active {
  opacity: 1;
}

.page-content {
  display: grid;
}