@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
  box-sizing: border-box;
  margin: 0px;
  /* overflow: hidden; */
}

/* body {
  width: 420px;
  height: 300px;
} */

.nav-container {
  /* display: flex; */
  height: 50px;
  /* justify-content: space-between; */
  overflow: hidden
}

.nav-container button {
  float: left;
  background-color: transparent;
  border: none;
  color: #ffffff;
  margin: 0px;
  opacity: 0.6;
  outline: none;
  padding: 12px 34px;
  font-size: 17px;
}

.nav-container button:hover {
  opacity: 1;
}

.nav-container-right {
  float: right;
}

button.active {
  opacity: 1;
}

.page-content {
  display: grid;
}

.landing-header {
  font-size: 40px;
  margin: 20px 0px 0px 20px
}

.sub-head {
  color: #6400a1;
  font-size: large;
  font-style: italic;
  margin-left: 20px;
}

.landing-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-flow: row;
}

.study-half {
  margin: auto;
}

.rating-half {
  margin-top: 0px;
}

.rating-double {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.half-head {
  color: #6400a1;
  margin: auto;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.desc {
  color: #6400a1;
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: medium;
}

.break-header {
  text-align: center;
  margin-top: 30px;
}

.break-button {
  border: none;
  background-color: inherit;
  padding: 10px 20px;
  /* margin-top: 30px;
  margin-left: 5px; */
  margin: auto;
  cursor: pointer;
  border-radius: 16px;
  width: 30%;
  font-weight: bold;
}

.button0 {
  background-color: rgb(230, 223, 223);
  border: black 2px solid;
  color: black;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  width: 150px;
}

.tip-header {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 20%;
}

.tip-btn {
  margin-top: 20px;
}

.center-of-page {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* border: 5px solid #FFFF00; */
  padding: 100px;
}

/* ----------------------------------------------------- */

/* for the exercise page */

.button {
  background-color: rgb(230, 223, 223);
  border: black 2px solid;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  width: 300px;
}

.button:hover {
  background-color: #b0b3b0;
  color: black;
}

/* ----------------------------------------------------- */

/* for the more exercises page */

/* Create three equal columns that floats next to each other */

.move-back {
  border-radius: 5px;
  color: #6400a1;
  cursor: pointer;
  display: flex;
  position: absolute;
  top: 10%;
  left: 5%;
}

.back-text {
  font-size: medium;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 5px;
  padding-top: 5px;
  vertical-align: middle;
}

.column {
  float: left;
  width: 33.33%;
  /* padding: 10px; */
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* ----------------------------------------------------- */