* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-family: 'Roboto', "Open Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Nav-bar */

.nav-container {
  background: linear-gradient(135deg, rgba(200, 12, 158) 2%, rgba(0, 125, 241) 110.6%);
  mix-blend-mode: normal;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.nav-container button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  float: left;
  margin: 0px;
  opacity: 0.6;
  outline: none;
  padding: 17px 17px;
}

.nav-container button:hover {
  cursor: pointer;
}

/* Header */

.page-header {
  color: #6400A2;
  font-size: x-large;
  font-weight: bold;
  width: 100%;
}

button {
  margin: 0px;
  outline: none;
}

.styled-button {
  background: linear-gradient(135deg, rgba(200, 12, 158) 2%, rgba(0, 125, 241) 110.6%);
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px #999;
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.styled-button:hover {
  background: linear-gradient(135deg, rgb(143, 6, 113) 2%, rgb(7, 79, 146) 110.6%);
}

.styled-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

input {
  margin-left: 10px;
  margin-top: 5px;
  /* background-color: #9908f3; */
  background-color: rgba(0, 78, 255, 0.70);
  color: white;
  height: 50px;
  text-align: center;
  padding-right: 0px !important;
  font-size: 30px;
  mix-blend-mode: normal;
  border-radius: 5px;
  border-color: #6400A2;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: 60px;
  margin-right: 0px;
  opacity: 1;
  background-color: red;
}

.red-button {
  margin-top: 20px;
  background: red;
}

.red-button:hover {
  background: darkred;
}

.green-button {
  margin-top: 20px;
  background: green;
}

.green-button:hover {
  background: darkgreen;
}

.pause-button {
  border-radius: 16px;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 30px;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
  width: 30%;
}

.red-text-button {
  border: none;
  background-color: inherit;
  color: red;
  padding: 10px 20px;
  margin-top: 30px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 16px;
  width: 30%;
  font-weight: bold;
}

.red-text-button:hover {
  background: #eee
}