body {
  width: 500px;
  height: 420px;
}

/* Nav-Bar */
.nav-container {
  height: 70px;
}

.nav-right {
    float: right;
    padding: 0%;
}
.nav-container button:hover {
    opacity: 0.9;
}

button.active {
  opacity: 1;
}

.page-content {
  /* float: left; */
  display: grid;
  padding: 50px 0 30px 0
}

/* Home-Page */

.home-page, #stat-page {
    margin: 5px;
    display: grid;
  }
  
  .session-field {
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 10px;
    color: #6400A2;
  }
  
  input {
    margin-left: 20px;
    background-color: #9908f3;
    color: white;
    height: 60px;
    width: 100px;
    text-align: center;
    padding-right: 0px !important;
    font-size: 30px;
    border: none;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  }
  
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    height: 70px;
    margin-right: 0px;
    opacity: 1;
    background-color: red;
  }
  .center {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    }
  
  .session-button {
      background-color: #ddd;
      border: none;
      color: black;
      padding: 10px 20px;
      margin-left: auto;
      margin-right: 5%;
      margin-top: 50px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      border-radius: 16px;
      width: 30%;
      color: white;
      font-weight: bold;
      background: linear-gradient(135deg, rgba(200, 12, 158) 2%, rgba(0, 125, 241) 110.6%);
      box-shadow: 0 3px #999;
  
  }
  
  .session-button:hover {
    background: linear-gradient(135deg, rgb(143, 6, 113) 2%, rgb(7, 79, 146) 110.6%);
  }
  
  .session-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  .red-button
  {
      margin-top: 20px;
      background: red;
  } 
  
  .red-button:hover{
    background: darkred;
  }
  
  #cal-link {
    margin: auto;
    width: 50%;
    height:30%;
    margin-top: 20px;
  }
  #viewCalendar, #viewGroups {
    
    width: 100%;
    height:200%;
    margin-top: 30%;
  }
  
  .container {
    display: grid;
    grid-template-columns: 0.54fr 0.46fr;
    grid-template-rows: 0.64fr 0.36fr;
    gap: 0px 0px;
    position: relative;
    top: 0;
    left: 0;
    grid-auto-flow: row;
    grid-template-areas:
      "wellbeing Percentage-Scores"
      "wellbeing Work-Total";
  }
  
  .Wellbeing-Circle { grid-area: Wellbeing-Circle; }
  
  .Percentage-Scores { 
    grid-area: Percentage-Scores; 
    background: linear-gradient(124.58deg, rgba(200, 12, 158) -11.8%, rgba(0, 122, 255) 135.63%);
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding-top: 10px;
    text-align: center;
  }
  
  .Work-Total { 
    grid-area: Work-Total; 
    background: linear-gradient(124.58deg, rgba(200, 12, 158) -11.8%, rgba(0, 122, 255) 135.63%);
    border-radius: 10px; 
    text-align: center;
    padding-top: 10px;
   }
  
   .Percentage-value{
     margin-top: 20px;
   }
  
  
  .icon {
     top: -142px;
     margin: 0 auto;
     position: relative;
     left: 145px;
     color: rgba(0, 125, 241)
  }
  
    .outerCircle {
    background-color: transparent;
    border: 8px solid rgba(200, 12, 158);
    opacity: .9;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    top: 60px;
    -moz-animation: spinPulse 3s infinite ease-in-out;
    -webkit-animation: spinPulse 3s infinite ease-in-out;
    }
    .innerCircle {
    background-color: transparent;
    border: 5px solid rgba(0, 125, 241);
    opacity: .9;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius: 100px;
    top: -76px;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    position: relative;
    -moz-animation: spinoffPulse 3s infinite linear;
    -webkit-animation: spinoffPulse 3s infinite linear;
    
    }
    
    
    @-moz-keyframes spinPulse {
        0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c;}
      50% { -moz-transform:rotate(145deg); opacity:1; }
      100% { -moz-transform:rotate(-320deg); opacity:0; }
    }
    @-moz-keyframes spinoffPulse {
        0% { -moz-transform:rotate(0deg); }
      100% { -moz-transform:rotate(360deg);  }
    }
    @-webkit-keyframes spinPulse {
        0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c; }
      50% { -webkit-transform:rotate(145deg); opacity:1;}
      100% { -webkit-transform:rotate(-320deg); opacity:0; }
    }
    @-webkit-keyframes spinoffPulse {
        0% { -webkit-transform:rotate(0deg); }
      100% { -webkit-transform:rotate(360deg); }
    }
    @-moz-keyframes rotatecircle {
        0% { -moz-transform:rotate(0deg); }
      100% { -moz-transform:rotate(-360deg); }
    }
    
    @-webkit-keyframes rotatecircle {
        0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(-360deg); }
    }
  
  
  
    /* Tooltip container */
  .tooltip {
    margin-left: 25px;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: xx-small;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip .tooltiptext {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }
  
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }