body {
  width: 500px;
  height: 420px;
}

/* Nav-Bar */

.nav-container {
  height: 70px;
}

.nav-right {
  float: right;
  padding: 0%;
}

.nav-container button:hover {
  opacity: 0.9;
}

button.active {
  opacity: 1;
}

/* Bottom-Bar */

.bottom-bar {
  height: 42px;
  border-top: 3px solid #c4c4c4 !important;
}

.bottom-bar a {
  color: #6400a1;
  float: left;
  margin: 0px;
  outline: none;
  padding: 10px 0px 10px 10px;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
}

.bottom-bar button {
  background-color: transparent;
  border: none;
  color: #6400a1;
  float: left;
  margin: 0px;
  outline: none;
  padding: 5px 5px;
  font-weight: bold;
}

/* Pages */

.tab {
  height: 310px;
  width: 500px;
  padding: 5px
}

/* Home-Page */

.session-advice {
  padding: 0px 0px 0px 2px;
  /* width: 60%; */
  font-size: small;
  font-style: italic;
  color: #6400a1;
  opacity: 0.8;
}

.advice {
  padding: 2px 0px 2px 0px;
}

.session-button {
  border: none;
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  padding: 10px 20px;
}

/* Home-Page2 */

.countdown {
  text-align: center;
  margin-top: 20px;
}

/* Stat-Page */

.container {
  display: grid;
  width: 490px;
  height: 300px;
  grid-template-columns: 54% 46%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  position: relative;
  top: 0;
  left: 0;
  grid-auto-flow: row;
  grid-template-areas: "wellbeing Percentage-Scores";
}

.Wellbeing-Circle {
  grid-area: Wellbeing-Circle;
}

.wellbeing-stat {
  top: -170px;
  margin: 0 auto;
  color: #6400a1;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.outerCircle {
  background-color: transparent;
  border: 8px solid rgba(200, 12, 158);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  position: relative;
  top: 60px;
  -moz-animation: spinPulse 3s infinite ease-in-out;
  -webkit-animation: spinPulse 3s infinite ease-in-out;
}

.innerCircle {
  background-color: transparent;
  border: 5px solid rgba(0, 125, 241);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-radius: 100px;
  top: -76px;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  position: relative;
  -moz-animation: spinoffPulse 3s infinite linear;
  -webkit-animation: spinoffPulse 3s infinite linear;
}

/* Percentage Stats */

.Percentage-Scores {
  grid-area: Percentage-Scores;
  background: linear-gradient(124.58deg, rgba(200, 12, 158) -11.8%, rgba(0, 122, 255) 135.63%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  color: #fff;
  justify-content: center;
  margin-top: 20%;
}

.stat-score {
  display: grid;
  grid-template-columns: 20% 70% 10%;
  margin: 5px 10px 0px 10px;
}

.stat-score .icon {
  margin-top: 10px;
}

.stat-score .info {
  margin-top: 10px;
}

.stat-box {
  float: left;
}

.stat-box .title {
  font-size: 16px;
  letter-spacing: 1px
}

.stat-box .value {
  margin-top: 2px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Settings */

.settings-container {
  display: grid;
  width: 490px;
  height: 264px;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  position: relative;
  top: 0;
  left: 0;
  grid-auto-flow: row;
  grid-template-areas: "custom-settings settings-modes";
}

.custom-settings {
  grid-area: custom-settings;
  background: linear-gradient(124.58deg, rgba(200, 12, 158) -11.8%, rgba(0, 122, 255) 135.63%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #fff;
  justify-content: center;
}

.settings-box {
  display: grid;
  grid-template-columns: 60% 40%;
}

.settings-modes {
  /* grid-area: settings-modes; */
  margin-left: 5px;
  margin-right: 5px;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 10% 30% 30% 30%
}

.mode-header {
  color: #6400a1;
  font-size: large;
  font-weight: bold;
}

.mode-button {
  align-items: center;
  background: linear-gradient(135deg, rgba(200, 12, 158) 2%, rgba(0, 125, 241) 110.6%);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  justify-content: center;
  opacity: 40%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 20px;
  text-align: center;
}

.mode-button:hover {
  opacity: 90%;
}

.active-mode {
  opacity: 100%;
}

/* Info-Tip */

.infotip {
  overflow: visible;
  position: absolute;
  display: inline-block;
  visibility: hidden;
  right: 5px;
  width: 120px;
  background-color: black;
  margin-top: 71px;
  color: #fff;
  text-align: center;
  font-size: xx-small;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  z-index: 1;
}

.infotip::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the bottom of the tooltip */
  right: 6%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
  transform: translateX(-50%);
}

.info:hover+.infotip {
  visibility: visible;
}

.con-tip {
  top: 40px;
}

.pro-tip {
  top: 102px;
}

.mood-tip {
  top: 164px;
}

/* Work-Total */

.work-total {
  grid-area: work-total;
  background: linear-gradient(124.58deg, rgba(200, 12, 158) -11.8%, rgba(0, 122, 255) 135.63%);
  border-radius: 10px;
  padding: 10px 10px 10px 12px;
  color: white;
}

.work-total .title {
  font-size: 17px;
  letter-spacing: 1px;
  opacity: 0.95;
}

.work-total .value-box {
  padding: 0px 0px 0px 10px;
}

.work-total .value-box .value {
  font-size: 30px;
  font-weight: 800;
}

.work-total .past {
  opacity: 0.6;
  padding-left: 10px;
}

#viewCalendar, #viewGroups {
  width: 79%;
  height: 200%;
  float: none;
  margin-top: 11%;
  margin-left: 15%;
  margin-bottom: 17%;
}

@-moz-keyframes spinPulse {
  0% {
    -moz-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #bdd73c;
  }
  50% {
    -moz-transform: rotate(145deg);
    opacity: 1;
  }
  100% {
    -moz-transform: rotate(-320deg);
    opacity: 0;
  }
}

@-moz-keyframes spinoffPulse {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spinPulse {
  0% {
    -webkit-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #bdd73c;
  }
  50% {
    -webkit-transform: rotate(145deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-320deg);
    opacity: 0;
  }
}

@-webkit-keyframes spinoffPulse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotatecircle {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotatecircle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

/* Tooltip container */

.tooltip {
  position: relative;
  /* border-bottom: 1px dotted black; */
  /* If you want dots under the hoverable text */
}

/* Tooltip text */

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: xx-small;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext {
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
  visibility: visible;
}