* {
  box-sizing: border-box;
  margin: 0px;
}

body {
    width: 500px;
    height: 420px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Nav-bar */

.nav-container  {
  background: linear-gradient(135deg, rgba(200, 12, 158) 2%, rgba(0, 125, 241) 110.6%);
  mix-blend-mode: normal;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  height: 70px;
  overflow: hidden;
}

.nav-container button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  float: left;
  margin: 0px;
  opacity: 0.6;
  outline: none;
  padding: 17px 17px;
}

.nav-container button:hover {
  opacity: 0.9;
  cursor: pointer;
}

button.active {
  opacity: 1;
}

.nav-right {
  float: right;
  padding: 0%;
}

button {
    margin: 0px;
    outline: none;
}



/* Home-Page */

.home-page, #stat-page {
  margin: 5px;
  display: grid;
}

/* Header */

.page-header {
  color: #6400A2;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}

.page-content {
  /* float: left; */
  display: grid;
  padding: 50px 0 30px 0
}

.session-field {
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 10px;
  color: #6400A2;
}

input {
  margin-left: 20px;
  background-color: #9908f3;
  color: white;
  height: 60px;
  width: 100px;
  text-align: center;
  padding-right: 0px !important;
  font-size: 30px;
  border: none;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: 70px;
  margin-right: 0px;
  opacity: 1;
  background-color: red;
}
.center {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  }

.session-button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: 5%;
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    width: 30%;
    color: white;
    font-weight: bold;
    background: linear-gradient(135deg, rgba(200, 12, 158) 2%, rgba(0, 125, 241) 110.6%);
    box-shadow: 0 3px #999;

}

.session-button:hover {
  background: linear-gradient(135deg, rgb(143, 6, 113) 2%, rgb(7, 79, 146) 110.6%);
}

.session-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.red-button
{
    margin-top: 20px;
    background: red;
} 

.red-button:hover{
  background: darkred;
}

#cal-link {
  margin: auto;
  width: 50%;
  height:30%;
  margin-top: 20px;
}
#viewCalendar, #viewGroups {
  
  width: 100%;
  height:200%;
  margin-top: 30%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.6fr 0.4fr 1fr;
  gap: 0px 0px;
  position: relative;
  top: 0;
  left: 0;
  height: 300px;
  width: 100%;
  grid-auto-flow: row;
  grid-template-areas:
    "Wellbeing-Circle Wellbeing-Circle Percentage-Scores"
    "Wellbeing-Circle Wellbeing-Circle Work-Total"
    "Wellbeing-Circle Wellbeing-Circle Work-Total";
}

.Wellbeing-Circle { grid-area: Wellbeing-Circle; }

.Percentage-Scores { 
  grid-area: Percentage-Scores; 
  background: linear-gradient(300deg, rgb(250, 118, 222) 2%, rgb(104, 165, 221) 110.6%);
  border-radius: 25px; 
  margin-bottom: 5px;
}

.Work-Total { 
  grid-area: Work-Total; 
  background: linear-gradient(300deg, rgb(250, 118, 222) 2%, rgb(104, 165, 221) 110.6%);
  border-radius: 25px; 
 }


.icon {
   top: -200px;
   margin: 0 auto;
   position: relative;
   left: 145px;
   color: #9908f3;
}

  .outerCircle {
  background-color: transparent;
  border: 8px solid rgba(200, 12, 158);
  opacity: .9;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  -moz-animation: spinPulse 3s infinite ease-in-out;
  -webkit-animation: spinPulse 3s infinite ease-in-out;
  }
  .innerCircle {
  background-color: transparent;
  border: 5px solid rgba(0, 125, 241);
  opacity: .9;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-radius: 100px;
  top: -133px;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  position: relative;
  -moz-animation: spinoffPulse 3s infinite linear;
  -webkit-animation: spinoffPulse 3s infinite linear;
  
  }
  
  
  @-moz-keyframes spinPulse {
      0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c;}
    50% { -moz-transform:rotate(145deg); opacity:1; }
    100% { -moz-transform:rotate(-320deg); opacity:0; }
  }
  @-moz-keyframes spinoffPulse {
      0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(360deg);  }
  }
  @-webkit-keyframes spinPulse {
      0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c; }
    50% { -webkit-transform:rotate(145deg); opacity:1;}
    100% { -webkit-transform:rotate(-320deg); opacity:0; }
  }
  @-webkit-keyframes spinoffPulse {
      0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(360deg); }
  }
  @-moz-keyframes rotatecircle {
      0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(-360deg); }
  }
  
  @-webkit-keyframes rotatecircle {
      0% { -webkit-transform:rotate(0deg); }
  100% { -webkit-transform:rotate(-360deg); }
  }

  .wellbeing {
    margin-top: 25%;
  }